<% include ../Partials/HeaderRoot  %>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">
                    <div class="p-3">
                        <h4 class="text-muted font-18 m-b-5 text-center">Welcome Back!</h4>
                        <p class="text-muted text-center">Sign in to continue</p>
                        <form class="form-horizontal m-t-30" action="/login" method="post">
                            
                            <div class="form-group">
                                <label for="username">Email</label>
                                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input type="password" name="password" class="form-control" id="userpassword" placeholder="Enter password">
                            </div>
                            <% if(error != '') { %>
                               <p class="alert alert-danger"> <%= error %> </p>
                            <% } %>
                            <div class="form-group row m-t-20">
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

           

        </div>

        <% include ../Partials/FooterRoot  %>